In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions
from pyspark.sql.types import StructType
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql.types import FloatType
from pyspark.sql.functions import udf, monotonically_increasing_id

import os

In [2]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /usr/share/java/mariadb-java-client-2.5.3.jar pyspark-shell'

Configuramos la sesión de pyspark

In [3]:
spark_context = SparkContext()
sql_context = SQLContext(spark_context)
spark = sql_context.sparkSession

### Cargamos las bases desde los csv

En la tabla aeropuertos eliminamos los registros con fechas de construccióin superior a 2013 y eliminamos los registros repetidos.

In [4]:
from pyspark.sql.types import IntegerType,DateType,DoubleType, StringType

df_aeropuertos = spark.read.load("aeropuertosEtapa3.csv",format="csv", sep=",", inferSchema="true", header="true")
df_aeropuertos = df_aeropuertos.replace("nan", None)
df_aeropuertos = df_aeropuertos.drop("_c0")
df_aeropuertos = df_aeropuertos.withColumn("pbmo",df_aeropuertos.pbmo.cast(DoubleType()))
df_aeropuertos = df_aeropuertos.withColumn("fecha_construccion",df_aeropuertos.fecha_construccion.cast(DateType()))
df_aeropuertos = df_aeropuertos.withColumn("fecha_vigencia",df_aeropuertos.fecha_vigencia.cast(DateType()))
df_aeropuertos = df_aeropuertos.withColumn("numero_vuelos_origen",df_aeropuertos.numero_vuelos_origen.cast(IntegerType()))
df_aeropuertos = df_aeropuertos.withColumn("gcd_departamento",df_aeropuertos.gcd_departamento.cast(StringType()))
df_aeropuertos = df_aeropuertos.withColumn("gcd_municipio",df_aeropuertos.gcd_municipio.cast(StringType()))
df_aeropuertos = df_aeropuertos.drop_duplicates(subset=['sigla', "Ano"])
df_aeropuertos.show()

+-----+----+--------------------+--------------------+------------+-------------+-------+--------+--------------------+--------------------+--------------+-----------+------+---------+----------+------------------+--------------+-----+----------+--------------------+----------------+-------------+----+
|sigla|iata|              nombre|           municipio|departamento|    categoria|latitud|longitud|         propietario|          explotador|longitud_pista|ancho_pista|  pbmo|elevacion|resolucion|fecha_construccion|fecha_vigencia|clase|      tipo|numero_vuelos_origen|gcd_departamento|gcd_municipio| Ano|
+-----+----+--------------------+--------------------+------------+-------------+-------+--------+--------------------+--------------------+--------------+-----------+------+---------+----------+------------------+--------------+-----+----------+--------------------+----------------+-------------+----+
|  9AO|null|         SANTA CLARA|         Sabanalarga|    Casanare|    Aeródromo| 4.4172|-72.7744|  ARMANDO SANCHEZ M.|          TAES LTDA.|         699.0|        9.0|2500.0|    610.0|  2137,000|        2013-05-16|          null|   1A|Fumigación|                  46|              85|        85300|2014|
|  FLA| FLA|GUSTAVO ARTUNDUAG...|           Florencia|     Caquetá|     Nacional|  1.589|-75.5643|           AEROCIVIL|           AEROCIVIL|        3088.0|       20.0|  null|    803.0|   984,000|        1987-02-02|          null|   3C|   Privado|               55514|              18|        18001|2018|
|  IPI| IPI|            SAN LUIS|              Aldana|      Nariño|Internacional| 0.8619|-77.6718|           AEROCIVIL|           AEROCIVIL|         636.0|       49.0|  null|   9740.0|   455,000|        1969-05-19|          null|   3C| Aerocivil|                4119|              52|        52022|2014|
|  PPN| PPN|GUILLERMO LEON VA...|             Popayán|       Cauca|     Nacional| 2.4542|-76.6099|           AEROCIVIL|           AEROCIVIL|        9835.0|       12.0|  null|   5669.0|   455,000|        1969-05-19|          null|   4C| Aerocivil|                5749|              19|        19001|2016|
|  9MY|null|          AFGANISTAN|      Paz de Ariporo|    Casanare|    Aeródromo|  5.886| -71.408| JOSE IVAN CORTES P.|SANDRA PATRICIA YATE|        1700.0|       14.0|2000.0|    577.0|  2131,000|        2014-04-25|    2017-05-06|   1A|   Público|                   0|              85|        85250|2014|
|  GYM|null| FLAMINIO S. CAMACHO|                Chía|Cundinamarca|    Aeródromo| 4.8125|-74.0651|           AEROCIVIL|           AEROCIVIL|        4552.0|       50.0|7000.0|   8386.0|   984,000|        1987-02-02|          null|   2B|   Privado|               10883|              25|        25175|2016|
|  7GC|null|SAN FELIPE DEL PAUTO|            Trinidad|    Casanare|    Aeródromo| 5.2032|-70.8951|         AGRAS S.A.S|         AGRAS S.A.S|        1506.0|        0.0|3000.0|   3125.0|  4505,000|        2012-08-16|          null|   1A|   Público|                 284|              85|        85430|2018|
|  9LQ|null|        LA PONDEROSA|       Puerto Gaitán|        Meta|    Aeródromo| 4.6316|-71.2141|MONICA COLOMBIA L...|MONICA COLOMBIA LTDA|         671.0|       14.0|3000.0|    537.0|  5243,000|        2012-09-19|          null|   2A| Aerocivil|                  12|              50|        50568|2014|
|  9LY|null|       SAN ISIDRO II|             Cumaral|        Meta|    Aeródromo| 4.1585|-73.3408| MARIA A PACHE OCHOA| MARIA A. PACHECO O.|          76.0|       22.0|2000.0|    175.0|  4730,000|        2013-09-06|          null|   1A| Aerocivil|                   0|              50|        50226|2016|
|  9MN|null|   EL PEDRAL BONANZA|      Puerto Wilches|   Santander|    Aeródromo| 7.2417|-73.8151|                null|    AEROPENORT LTDA.|        1150.0|        0.0|3000.0|    282.0|      null|        2012-05-07|    2012-08-07|   1A|   Público|                   0|              68|        68575|2016|
|  9MP|null|           LOS LOBOS|           Tauramena|    Casanare|    Aeródromo| 4.4748|-72.7478|     AGROVIMART S.A.|          AGIL LTDA.|         299.0|       33.0|3000.0|    580.0|  1685,000|        2013-04-18|    2016-05-03|   1A|   Privado|                   0|              85|        85410|2016|
|  BNI|null|              BOLUGA|           Venadillo|      Tolima|    Aeródromo| 4.6903|-74.8894|MARGOT URIBE DE S...|          CRUZ VERDE|         528.0|        0.0|3000.0|   1092.0|  2172,000|        2012-04-30|          null|   1A|   Público|                   0|              73|        73861|2014|
|  BNO|null|        BUENOS AIRES|      Puerto Wilches|   Santander|    Aeródromo|  7.462|-73.7464|AGRICOLA BUFALERA...|            EL MISMO|        2128.0|        9.0|3500.0|    229.0|  7239,000|        2012-12-19|          null|   1A|   Público|                  66|              68|        68575|2018|
|  COG| COG|    CONDOTO MANDINGA|             Condoto|       Chocó|     Regional|  5.072|-76.6766|           AEROCIVIL|           AEROCIVIL|         131.0|       71.0|  null|    166.0|   984,000|        1987-02-02|          null|   2C|Fumigación|                 199|              27|        27205|2016|
|  7GO|null|           MATABRAVA|San Luis de Palenque|    Casanare|    Aeródromo| 5.2132|-71.6915|FRANCISCA REYES DIAZ|FRANCISCA REYES DIAZ|         561.0|       11.0|2000.0|    524.0|  5966,000|        2014-12-15|          null|   1A|Fumigación|                   1|              85|        85325|2014|
|  7HY|null|HOTEL DEL CAMPO - CA|            Quimbaya|     Quindío|    Aeródromo| 4.6123|-75.8132|    JUAN B. URIBE S.|LUIS BERRENECHE R...|         168.0|        6.0| 500.0|   3828.0|  2492,000|        2014-05-12|    2017-07-09|   1A|   Público|                   0|              63|        63594|2014|
|  9CR|null|         EL CAPRICHO|       Puerto Gaitán|        Meta|    Aeródromo| 4.2018|-72.1632| JORGE E. SALAZAR B.|            EL MISMO|        1092.0|       18.0|4500.0|    551.0|   329,000|        2013-02-07|    2016-04-05|   1A|   Privado|                   0|              50|        50568|2017|
|  9LN|null|          GUADUALITO|             Nunchía|    Casanare|    Aeródromo| 5.4593| -71.912| CUPERTINO CUEVAS D.|          SANAR S.A.|         173.0|       25.0|3000.0|    639.0|  4943,000|        2012-09-06|          null|   1A| Aerocivil|                   0|              85|        85225|2016|
|  VVU|null|        SANTA ISABEL|       Villavicencio|        Meta|    Aeródromo| 3.9873|-73.2091|           EFA LTDA.|           EFA LTDA.|         214.0|       27.0|2000.0|    689.0|  2634,000|        2012-05-24|          null|   1A|Fumigación|                   1|              50|        50001|2015|
|  ZPS| AZT|GUILLERMO GOMEZ O...|            Zapatoca|   Santander|    Aeródromo| 6.7674|-73.2846|           MUNICIPIO|           MUNICIPIO|        1339.0|       14.0|2300.0|   5918.0|    11,000|        1968-01-09|          null|   1A|   Privado|                  13|              68|        68895|2017|
+-----+----+--------------------+--------------------+------------+-------------+-------+--------+--------------------+--------------------+--------------+-----------+------+---------+----------+------------------+--------------+-----+----------+--------------------+----------------+-------------+----+
only showing top 20 rows

In [5]:
df_vuelos = spark.read.load("vuelosEtapa3.csv",format="csv", sep=",", inferSchema="true", header="true")
df_vuelos = df_vuelos.replace("nan", None)
df_vuelos = df_vuelos.withColumn("sillas",df_vuelos.sillas.cast(IntegerType()))
df_vuelos = df_vuelos.withColumn("pasajeros",df_vuelos.pasajeros.cast(IntegerType()))
df_vuelos = df_vuelos.withColumn("vuelos",df_vuelos.vuelos.cast(IntegerType()))
df_vuelos.show()

+----+---+------+-------+-----------+----------+-------+--------------------+------+------+--------------+---------+-----------+
| ano|mes|origen|destino|tipo_equipo|tipo_vuelo|trafico|             empresa|vuelos|sillas|carga_ofrecida|pasajeros|carga_bordo|
+----+---+------+-------+-----------+----------+-------+--------------------+------+------+--------------+---------+-----------+
|2016| 11|   BOG|    MDE|       R722|         R|      N|                 LAS|     3|     0|       72000.0|        0|    60146.0|
|2014|  2|   EOH|    BGA|       JS32|         R|      N|AEROLINEA DE ANTI...|    45|   766|      112220.0|      439|      999.0|
|2017|  4|   VDF|    EOH|       C210|         T|      N|        HELI JET SAS|    15|     0|           0.0|       60|        0.0|
|2018| 12|   PEI|    EOH|       C303|         T|      N|        HELI JET SAS|     4|     0|           0.0|        3|        0.0|
|2018| 12|   LMC|    BOG|       JS32|         T|      N|         SARPA S.A.S|     2|     0|           0.0|        3|        0.0|
|2010|  3|   UIB|    GIR|       JS32|         T|      N|         SARPA S.A.S|     1|     0|           0.0|        4|        0.0|
|2011|  7|   UIB|    CLO|       L410|         T|      N|                 TAC|     2|     0|           0.0|       23|       32.0|
|2011|  8|   ACD|    LCE|       C206|         T|      I|           AVIOCESAR|     1|     0|           0.0|        2|       62.0|
|2014| 10|   CZU|    MTR|       C206|         T|      N|           AVIOCESAR|    16|     0|           0.0|       29|     1239.0|
|2010|  1|   CDG|    BOG|       A343|         R|      I|          AIR FRANCE|    31|  8432|      310000.0|     7203|   197552.0|
|2013| 10|   COG|    EOH|       C303|         T|      N|          TACA S.A.S|     1|     0|           0.0|        3|        0.0|
|2018| 12|   SVI|    NVA|       C206|         T|      N| LLANERA DE AVIACION|     1|     0|           0.0|        0|        0.0|
|2015|  1|   MVI|    MVP|       C206|         T|      N|AEROLINEAS LLANER...|     1|     0|           0.0|        0|        0.0|
|2011|  3|   BOG|    BGI|       B762|         R|      I|    TAMPA CARGO S.A.|     4|     0|      163295.0|        0|   129721.0|
|2011|  7|   BOG|    SVI|       D328|         R|      N|SERVICIO AEREO A ...|     9|   288|        6750.0|      119|        0.0|
|2010|  4|   VVC|    CRU|       C182|         T|      N|                TARI|     1|     0|           0.0|        2|       97.0|
|2018|  3|   BOG|    VGP|       B190|         T|      N|             HELICOL|     2|     0|           0.0|       10|        0.0|
|2017|  1|   PCR|    VVC|       PA34|         T|      N|                SAER|     1|     0|           0.0|        2|      500.0|
|2012|  3|   CUC|    MDE|       C414|         T|      N|AEROLINEAS ALAS D...|     2|     0|           0.0|        4|        0.0|
|2014|  1|   EJA|    PCR|       B190|         T|      N|                 TAC|     1|     0|           0.0|        7|      318.0|
+----+---+------+-------+-----------+----------+-------+--------------------+------+------+--------------+---------+-----------+
only showing top 20 rows

In [6]:
df_poblacion = spark.read.csv("demografico.txt", sep = "|", header = True, encoding = "ISO-8859-1")
df_divipol = spark.read.load("divipola.csv",format="csv", sep=";", inferSchema="true", header="true")

df_poblacion = df_poblacion.withColumnRenamed("Código Departamento", "codigo_departamento")
df_poblacion = df_poblacion.withColumnRenamed("Código Entidad", "codigo_municipio")

df_divipol = df_divipol.withColumnRenamed("Código Departamento", "codigo_departamento")
df_divipol = df_divipol.withColumnRenamed("Código Municipio", "codigo_municipio")

df_poblacion = df_poblacion.join(df_divipol, how = "inner", on =["codigo_departamento", "codigo_municipio"])
df_poblacion = df_poblacion.withColumnRenamed("Código Centro Poblado", "codigo_centro_poblado")

df_poblacion = df_poblacion.filter((df_poblacion.Indicador == 'Población total de hombres') | (df_poblacion.Indicador == 'Población total de mujeres'))
df_poblacion = df_poblacion.filter(df_poblacion.Año < 2021)

df_poblacion.drop_duplicates(["codigo_centro_poblado", "Indicador", "Año"])
df_poblacion.show(5)

+-------------------+----------------+------------+---------+--------------------+--------------------+--------------------+-------------+----------------+----+---+--------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
|codigo_departamento|codigo_municipio|Departamento|  Entidad|           Dimensión|        Subcategoría|           Indicador|Dato Numérico|Dato Cualitativo| Año|Mes|              Fuente|Unidad de Medida|codigo_centro_poblado|Nombre Departamento|Nombre Municipio|Nombre Centro Poblado|Tipo|
+-------------------+----------------+------------+---------+--------------------+--------------------+--------------------+-------------+----------------+----+---+--------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
|                 15|           15001|      Boyacá|    Tunja|Demografía y pobl...|Población desagre...|Población total d...|    81.430,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15001000|             BOYACÁ|           TUNJA|                TUNJA|  CM|
|                 15|           15022|      Boyacá|  Almeida|Demografía y pobl...|Población desagre...|Población total d...|       994,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15022000|             BOYACÁ|         ALMEIDA|              ALMEIDA|  CM|
|                 15|           15047|      Boyacá|Aquitania|Demografía y pobl...|Población desagre...|Población total d...|     7.820,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15047015|             BOYACÁ|       AQUITANIA|            QUEBRADAS|  CP|
|                 15|           15047|      Boyacá|Aquitania|Demografía y pobl...|Población desagre...|Población total d...|     7.820,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15047014|             BOYACÁ|       AQUITANIA|                PÉREZ|  CP|
|                 15|           15047|      Boyacá|Aquitania|Demografía y pobl...|Población desagre...|Población total d...|     7.820,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15047013|             BOYACÁ|       AQUITANIA|              SORIANO|  IP|
+-------------------+----------------+------------+---------+--------------------+--------------------+--------------------+-------------+----------------+----+---+--------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
only showing top 5 rows

In [7]:
df_poblacion = spark.read.csv("demografico.txt", sep = "|", header = True, encoding = "ISO-8859-1")
df_poblacion = df_poblacion.filter((df_poblacion.Indicador == 'Población total de hombres') | (df_poblacion.Indicador == 'Población total de mujeres'))
df_poblacion = df_poblacion.filter(df_poblacion.Año < 2021)

df_divipol = spark.read.load("divipola.csv",format="csv", sep=";", inferSchema="true", header="true")
df_divipol = df_divipol.filter(df_divipol.Tipo == "CM")
df_poblacion = df_poblacion.withColumnRenamed("Código Departamento", "codigo_departamento")
df_poblacion = df_poblacion.withColumnRenamed("Código Entidad", "codigo_municipio")
df_divipol = df_divipol.withColumnRenamed("Código Departamento", "codigo_departamento")
df_divipol = df_divipol.withColumnRenamed("Código Municipio", "codigo_municipio")

df_poblacion = df_poblacion.withColumn("codigo_departamento",df_poblacion.codigo_departamento.cast(IntegerType()))
df_poblacion = df_poblacion.withColumn("codigo_municipio",df_poblacion.codigo_municipio.cast(IntegerType()))

df_divipol = df_divipol.withColumn("codigo_departamento",df_divipol.codigo_departamento.cast(IntegerType()))
df_divipol = df_divipol.withColumn("codigo_municipio",df_divipol.codigo_municipio.cast(IntegerType()))

df_poblacion = df_poblacion.join(df_divipol, how = "left", on =["codigo_departamento", "codigo_municipio"])
df_poblacion = df_poblacion.withColumnRenamed("Código Centro Poblado", "codigo_centro_poblado")

df_poblacion.show(5)
df_poblacion.count()

+-------------------+----------------+------------+---------+--------------------+--------------------+--------------------+-------------+----------------+----+---+--------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
|codigo_departamento|codigo_municipio|Departamento|  Entidad|           Dimensión|        Subcategoría|           Indicador|Dato Numérico|Dato Cualitativo| Año|Mes|              Fuente|Unidad de Medida|codigo_centro_poblado|Nombre Departamento|Nombre Municipio|Nombre Centro Poblado|Tipo|
+-------------------+----------------+------------+---------+--------------------+--------------------+--------------------+-------------+----------------+----+---+--------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
|                 15|           15000|      Boyacá|   Boyacá|Demografía y pobl...|Población desagre...|Población total d...|   599.293,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|                 null|               null|            null|                 null|null|
|                 15|           15001|      Boyacá|    Tunja|Demografía y pobl...|Población desagre...|Población total d...|    81.430,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15001000|             BOYACÁ|           TUNJA|                TUNJA|  CM|
|                 15|           15022|      Boyacá|  Almeida|Demografía y pobl...|Población desagre...|Población total d...|       994,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15022000|             BOYACÁ|         ALMEIDA|              ALMEIDA|  CM|
|                 15|           15047|      Boyacá|Aquitania|Demografía y pobl...|Población desagre...|Población total d...|     7.820,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15047000|             BOYACÁ|       AQUITANIA|            AQUITANIA|  CM|
|                 15|           15051|      Boyacá| Arcabuco|Demografía y pobl...|Población desagre...|Población total d...|     2.912,00|            null|2018| 12|DANE - Censo Naci...|         Hombres|             15051000|             BOYACÁ|        ARCABUCO|             ARCABUCO|  CM|
+-------------------+----------------+------------+---------+--------------------+--------------------+--------------------+-------------+----------------+----+---+--------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
only showing top 5 rows

6804

In [8]:
cond = [(df_poblacion.codigo_departamento == df_divipol.codigo_departamento) & (df_poblacion.codigo_municipio == df_divipol.codigo_municipio)]
df_poblacion.join(df_divipol, cond, 'inner').count()

6606

In [9]:
df_divipol = spark.read.load("divipola.csv",format="csv", sep=";", inferSchema="true", header="true")
df_divipol.show()

+-------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
|Código Departamento|Código Municipio|Código Centro Poblado|Nombre Departamento|Nombre Municipio|Nombre Centro Poblado|Tipo|
+-------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
|                  5|            5001|              5001000|          ANTIOQUIA|        MEDELLÍN|             MEDELLÍN|  CM|
|                  5|            5001|              5001001|          ANTIOQUIA|        MEDELLÍN|             PALMITAS|   C|
|                  5|            5001|              5001004|          ANTIOQUIA|        MEDELLÍN|          SANTA ELENA|   C|
|                  5|            5001|              5001005|          ANTIOQUIA|        MEDELLÍN|        PEDREGAL ALTO| IPM|
|                  5|            5001|              5001009|          ANTIOQUIA|        MEDELLÍN|            ALTAVISTA|   C|
|                  5|            5001|              5001010|          ANTIOQUIA|        MEDELLÍN|          AGUAS FRÍAS|  CP|
|                  5|            5001|              5001012|          ANTIOQUIA|        MEDELLÍN|              LA LOMA|  CP|
|                  5|            5001|              5001013|          ANTIOQUIA|        MEDELLÍN| SAN JOSÉ DEL MANZ...|  CP|
|                  5|            5001|              5001014|          ANTIOQUIA|        MEDELLÍN|         BARRO BLANCO|  CP|
|                  5|            5001|              5001015|          ANTIOQUIA|        MEDELLÍN|             EL CERRO|  CP|
|                  5|            5001|              5001017|          ANTIOQUIA|        MEDELLÍN|             EL PATIO|  CP|
|                  5|            5001|              5001018|          ANTIOQUIA|        MEDELLÍN|            EL PLACER|  CP|
|                  5|            5001|              5001019|          ANTIOQUIA|        MEDELLÍN|              EL PLAN|  CP|
|                  5|            5001|              5001020|          ANTIOQUIA|        MEDELLÍN|            EL TESORO|  CP|
|                  5|            5001|              5001022|          ANTIOQUIA|        MEDELLÍN|             LA ALDEA|  CP|
|                  5|            5001|              5001023|          ANTIOQUIA|        MEDELLÍN|          LA CUCHILLA|  CP|
|                  5|            5001|              5001024|          ANTIOQUIA|        MEDELLÍN|           LA FLORIDA|  CP|
|                  5|            5001|              5001025|          ANTIOQUIA|        MEDELLÍN|             LA PALMA|  CP|
|                  5|            5001|              5001027|          ANTIOQUIA|        MEDELLÍN|           LAS PLAYAS|  CP|
|                  5|            5001|              5001029|          ANTIOQUIA|        MEDELLÍN|         PIEDRA GORDA|  CP|
+-------------------+----------------+---------------------+-------------------+----------------+---------------------+----+
only showing top 20 rows

In [10]:
df_cobertura = spark.read.load("Cobertura.csv",format="csv", sep=";", inferSchema="true", header="true")
df_cobertura = df_cobertura.withColumnRenamed("Codigo Centro Poblado", "codigo_centro_poblado")
df_cobertura = df_cobertura.withColumnRenamed("Distancia(Km)", "distancia")

df_cobertura.show()

+---------------------+---------------------+----------+-----------+---------+---------+-----------+--------+-----------+--------+-----------+-------------+---------------+--------------+
|codigo_centro_poblado|Nombre centro poblado|Aeropuerto|  distancia|Cobertura|Aerodromo|D_Aerodromo|Regional| D_Regional|Nacional| D_Nacional|Internacional|D_Internacional|Tipo_Cobertura|
+---------------------+---------------------+----------+-----------+---------+---------+-----------+--------+-----------+--------+-----------+-------------+---------------+--------------+
|              5001000|             MEDELLÍN|       EOH| 3,07967291|     true|      7IC|52,67179641|     URR|62,45094172|     EOH| 3,07967291|          MDE|    19,78362876| Internacional|
|              5001001|             PALMITAS|       EOH|17,55454828|     true|      7FX|61,18342718|     URR|49,85921309|     EOH|17,55454828|          MDE|    35,59064494| Internacional|
|              5001004|          SANTA ELENA|       EOH|9,853178054|     true|      7IC|49,77671062|     URR|71,82711814|     EOH|9,853178054|          MDE|    10,06900685| Internacional|
|              5001009|            ALTAVISTA|       EOH| 4,22878985|     true|      7IC|50,07859843|     URR|57,80080211|     EOH| 4,22878985|          MDE|    23,64064374| Internacional|
|              5001010|          AGUAS FRÍAS|       EOH|5,142963621|     true|      7IC|51,18130596|     URR|56,86918776|     EOH|5,142963621|          MDE|    24,65814658| Internacional|
|              5001012|              LA LOMA|       EOH|6,929234482|     true|      7IC|55,16639267|     URR|56,86609006|     EOH|6,929234482|          MDE|    25,63416744| Internacional|
|              5001013| SAN JOSÉ DEL MANZ...|       EOH|2,991441417|     true|      7IC|48,10432543|     URR|59,86055268|     EOH|2,991441417|          MDE|    21,53220268| Internacional|
|              5001014|         BARRO BLANCO|       MDE|9,910324403|     true|      7IC|53,18550201|     URR|74,03188967|     EOH|  12,585498|          MDE|    9,910324403| Internacional|
|              5001015|             EL CERRO|       MDE|8,601925315|     true|      7IC|49,23270972|     URR|73,16763075|     EOH|11,17167788|          MDE|    8,601925315| Internacional|
|              5001017|             EL PATIO|       EOH|9,264282146|     true|      7IC|56,33188972|     URR|54,41159201|     EOH|9,264282146|          MDE|     28,1894788| Internacional|
|              5001018|            EL PLACER|       MDE|10,23760532|     true|      7IC|51,63102128|     URR|72,51160452|     EOH|10,77567868|          MDE|    10,23760532| Internacional|
|              5001019|              EL PLAN|       EOH|8,159628053|     true|      7IC|  48,814953|     URR|70,15342422|     EOH|8,159628053|          MDE|    11,43671949| Internacional|
|              5001022|             LA ALDEA|       EOH|18,46221857|     true|      7FX|62,27057162|     URR|48,40788781|     EOH|18,46221857|          MDE|    36,77572597| Internacional|
|              5001023|          LA CUCHILLA|       EOH| 10,7159813|     true|      7IC|58,09252237|     URR|53,99225101|     EOH| 10,7159813|          MDE|    29,24587185| Internacional|
|              5001025|             LA PALMA|       EOH|8,682349617|     true|      7IC|  55,810063|     URR|54,79716942|     EOH|8,682349617|          MDE|    27,67066574| Internacional|
|              5001027|           LAS PLAYAS|       EOH|9,650026624|     true|      7IC|57,04593468|     URR| 54,5407788|     EOH|9,650026624|          MDE|    28,34937478| Internacional|
|              5001029|         PIEDRA GORDA|       EOH|10,31996853|     true|      7IC|52,59741005|     URR|71,77700224|     EOH|10,31996853|          MDE|    11,41667834| Internacional|
|              5001031|            POTRERITO|       EOH|9,520142272|     true|      7IC|46,10494664|     URR|54,68569704|     EOH|9,520142272|          MDE|    27,15307881| Internacional|
|              5001032|            TRAVESÍAS|       EOH|9,426007658|     true|      7IC|57,27457639|     URR|55,19825594|     EOH|9,426007658|          MDE|    27,88639261| Internacional|
|              5001033|              URQUITA|       EOH|20,61234749|     true|      7FX|60,16085427|     URR|48,78910902|     EOH|20,61234749|          MDE|    38,28789968| Internacional|
+---------------------+---------------------+----------+-----------+---------+---------+-----------+--------+-----------+--------+-----------+-------------+---------------+--------------+
only showing top 20 rows

### Creamos tanto las dimensiones como las tablas de hechos

In [11]:
def dimension_fecha(aeropuertos, vuelos):
    fecha = vuelos.select("ano", "mes").distinct().dropna()
    fecha = fecha.withColumn("id_fecha", monotonically_increasing_id()+1)
    def trimestre (mes):
        if mes < 4:
            return(1)
        elif mes < 7:
            return(2)
        elif mes < 10:
            return(3)
        else:
            return(4)
    trimestre_udf = udf(lambda x: trimestre(x), IntegerType())
    fecha = fecha.withColumn("trimestre", trimestre_udf(fecha["mes"]))
    
    return(fecha)

def dimension_aerolinea(aeropuertos, vuelos):
    aerolinea = vuelos.select("empresa").distinct().sort("empresa").dropna()
    aerolinea = aerolinea.withColumn("id_aerolinea", monotonically_increasing_id()+1)
    return(aerolinea)

def dimension_operacion(aeropuertos, vuelos):
    operacion = vuelos.select("tipo_vuelo").distinct().dropna()
    operacion = operacion.withColumn("id_operacion", monotonically_increasing_id()+1)
    return(operacion)

def dimension_avion(aeropuertos, vuelos):
    avion = vuelos.select("tipo_equipo").distinct().dropna()
    avion = avion.withColumn("id_avion", monotonically_increasing_id()+1)
    return(avion)

def dimension_trafico(aeropuertos, vuelos):
    trafico = vuelos.select("trafico").distinct().dropna()
    trafico = trafico.withColumn("id_trafico", monotonically_increasing_id()+1)
    return(trafico)

def dimension_aeropuerto_historia(aeropuertos, vuelos):
    aeropuertos_df = aeropuertos.replace("nan", None)
    aeropuertos_df = aeropuertos_df.drop("_c0")
    aeropuertos_df = aeropuertos_df.withColumn("pbmo",aeropuertos_df.pbmo.cast(DoubleType()))
    aeropuertos_df = aeropuertos_df.withColumn("fecha_construccion",aeropuertos_df.fecha_construccion.cast(DateType()))
    aeropuertos_df = aeropuertos_df.withColumn("fecha_vigencia",aeropuertos_df.fecha_vigencia.cast(DateType()))
    aeropuertos_df = aeropuertos_df.withColumn("numero_vuelos_origen",aeropuertos_df.numero_vuelos_origen.cast(IntegerType()))
    aeropuertos_df = aeropuertos_df.withColumn("Ano",aeropuertos_df.Ano.cast(IntegerType()))
    aeropuertos_df = aeropuertos_df.withColumn("gcd_departamento",aeropuertos_df.gcd_departamento.cast(StringType()))
    aeropuertos_df = aeropuertos_df.withColumn("gcd_municipio",aeropuertos_df.gcd_municipio.cast(StringType()))

    Inicio_udf = udf(lambda x: str(x) +'-01-01', StringType())
    Final_udf = udf(lambda x: str(x) +'-12-31', StringType())
    aeropuertos_df = aeropuertos_df.withColumn("InicioVigencia", Inicio_udf(aeropuertos_df["Ano"]))
    aeropuertos_df = aeropuertos_df.withColumn("InicioVigencia",aeropuertos_df.InicioVigencia.cast(DateType()))
    aeropuertos_df = aeropuertos_df.withColumn("FinalVigencia", Final_udf(aeropuertos_df["Ano"]))
    aeropuertos_df = aeropuertos_df.withColumn("FinalVigencia",aeropuertos_df.FinalVigencia.cast(DateType()))

    aeropuertos_df = aeropuertos_df.withColumn('Actual', functions.when(aeropuertos_df['Ano'] == aeropuertos_df.select("Ano").rdd.max()[0], "S").otherwise("N"))

    aeropuertos_df = aeropuertos_df.withColumn("id_aeropuerto", monotonically_increasing_id()+1)
    aeropuertos_df = aeropuertos_df.withColumnRenamed('Ano','ano')

    return(aeropuertos_df)

def dimension_lugar(poblacion, cobertura):
    lugar_df = poblacion.select("codigo_centro_poblado","Departamento","codigo_municipio","codigo_departamento",
                               "Nombre Departamento", "Nombre Municipio")
    lugar_df = lugar_df.join(cobertura, how = "inner", on ="codigo_centro_poblado")
    lugar_df = lugar_df.select("codigo_centro_poblado","codigo_municipio","codigo_departamento",
                               "Nombre Departamento", "Nombre Municipio", "Tipo_Cobertura")
    lugar_df = lugar_df.withColumnRenamed("Tipo_Cobertura", "tipo_Cobertura")
    lugar_df = lugar_df.withColumnRenamed("Nombre Departamento", "Departamento")
    lugar_df = lugar_df.withColumnRenamed("Nombre Municipio", "Municipio")
    lugar_df = lugar_df.distinct()
    lugar_df = lugar_df.withColumn("id_centro_poblado", monotonically_increasing_id()+1)
    
    return(lugar_df)
    
def hechos_cobertura(poblacion, cobertura, aeropuerto, lugar):
    cobertura_df = poblacion.withColumn('Dato Numérico', functions.regexp_replace(poblacion["Dato Numérico"], r"\.", ""))
    cobertura_df = cobertura_df.withColumn('Dato Numérico', functions.regexp_replace(cobertura_df["Dato Numérico"], ",", "."))
    cobertura_df = cobertura_df.withColumn("Dato Numérico",cobertura_df["Dato Numérico"].cast(IntegerType()))
    
    cobertura_df = cobertura_df.join(cobertura, how = "inner", on ="codigo_centro_poblado")
    
    cobertura_df = cobertura_df.groupBy("Año", "distancia", "codigo_centro_poblado", "Aeropuerto").pivot("Indicador").sum("Dato Numérico")
    poblacion_udf = udf(lambda x, y: x+y, IntegerType())
    cobertura_df = cobertura_df.withColumn("poblacion", poblacion_udf(cobertura_df["Población total de hombres"], cobertura_df["Población total de mujeres"]))
    cobertura_df = cobertura_df.withColumnRenamed("Población total de hombres", "poblacion_hombres")
    cobertura_df = cobertura_df.withColumnRenamed("Población total de mujeres", "poblacion_mujeres")
    cobertura_df = cobertura_df.withColumnRenamed("Aeropuerto", "sigla")
    
    cobertura_df = cobertura_df.join(aeropuerto.filter(aeropuerto.Actual == "S"), how='inner', on='sigla')
    cobertura_df = cobertura_df.select("Año", "distancia", "codigo_centro_poblado", "id_aeropuerto",
                                      "poblacion_hombres", "poblacion_mujeres", "poblacion")
    
    cobertura_df = cobertura_df.join(lugar, how='left', on='codigo_centro_poblado')
    cobertura_df = cobertura_df.select("Año", "distancia", "id_centro_poblado", "id_aeropuerto",
                                      "poblacion_hombres", "poblacion_mujeres", "poblacion")
    
    cobertura_df = cobertura_df.drop_duplicates(subset=['Año', "id_centro_poblado"])
    
    cobertura_df = cobertura_df.withColumn('id_aeropuerto', functions.when(cobertura_df['id_aeropuerto'] == 'null', '-1').otherwise(cobertura_df['id_aeropuerto']))
    cobertura_df = cobertura_df.withColumn('id_centro_poblado', functions.when(cobertura_df['id_centro_poblado'] == 'null', '-1').otherwise(cobertura_df['id_centro_poblado']))

    return(cobertura_df)
    

def tabla_hechos_vuelos(vuelos, aerolinea,operacion, avion, trafico, fecha, aeropuerto):
    vuelos = vuelos.join(aerolinea, how='inner', on='empresa')
    vuelos = vuelos.join(operacion, how='inner', on='tipo_vuelo')
    vuelos = vuelos.join(avion, how='inner', on='tipo_equipo')
    vuelos = vuelos.join(trafico, how='inner', on='trafico')
    vuelos = vuelos.join(fecha, how='inner', on=["ano", "mes"])
    vuelos = vuelos.join(aeropuerto.withColumnRenamed('sigla', 'origen'), how='inner', on = ["origen", "ano"])
    vuelos = vuelos.withColumnRenamed("id_aeropuerto", "id_origen")
    vuelos = vuelos.join(aeropuerto.withColumnRenamed('sigla', 'destino'), how='inner', on = ["destino", "ano"])
    vuelos = vuelos.withColumnRenamed("id_aeropuerto", "id_destino")

    
    tabla_hechos = vuelos.select("vuelos", "sillas", "pasajeros", "carga_ofrecida", "carga_bordo",
                                "id_aerolinea", "id_operacion", "id_avion", "id_trafico", "id_fecha", "id_origen", "id_destino")
    
    tabla_hechos = tabla_hechos.withColumn('id_aerolinea', functions.when(tabla_hechos['id_aerolinea'] == 'null', '-1').otherwise(tabla_hechos['id_aerolinea']))
    tabla_hechos = tabla_hechos.withColumn('id_operacion', functions.when(tabla_hechos['id_operacion'] == 'null', '-1').otherwise(tabla_hechos['id_operacion']))
    tabla_hechos = tabla_hechos.withColumn('id_avion', functions.when(tabla_hechos['id_avion'] == 'null', '-1').otherwise(tabla_hechos['id_avion']))
    tabla_hechos = tabla_hechos.withColumn('id_trafico', functions.when(tabla_hechos['id_trafico'] == 'null', '-1').otherwise(tabla_hechos['id_trafico']))
    tabla_hechos = tabla_hechos.withColumn('id_fecha', functions.when(tabla_hechos['id_fecha'] == 'null', '-1').otherwise(tabla_hechos['id_fecha']))
    tabla_hechos = tabla_hechos.withColumn('id_origen', functions.when(tabla_hechos['id_origen'] == 'null', '-1').otherwise(tabla_hechos['id_origen']))
    tabla_hechos = tabla_hechos.withColumn('id_destino', functions.when(tabla_hechos['id_destino'] == 'null', '-1').otherwise(tabla_hechos['id_destino']))
    
    return(tabla_hechos)

### Creamos el proceso de ETL

en este paso llamamos las funciones creadas anteriormente y guardamos cada tabla en un csv diferente.

In [12]:
def ETL(aeropuertos, vuelos, poblacion, cobertura):
    PATH='modelo/'
    
    fecha = dimension_fecha(aeropuertos, vuelos)
    fecha.toPandas().to_csv(PATH+'dimension_fecha.csv')
    print("Dimensión Fecha: \n")
    print("Las dimensiones de la base de datos son: ", (fecha.count(), len(fecha.columns)), "\n")
    print("Las columnas son: ", fecha.columns, "\n")
    print(fecha.show(5))
    print("\n")
    
    
    aerolinea = dimension_aerolinea(aeropuertos, vuelos)
    aerolinea.toPandas().to_csv(PATH+'dimension_aerolinea.csv')
    print("Dimensión aerolinea: \n")
    print("Las dimensiones de la base de datos son: ", (aerolinea.count(), len(aerolinea.columns)), "\n")
    print("Las columnas son: ", aerolinea.columns, "\n")
    print(aerolinea.show(5))
    print("\n")
    
    operacion = dimension_operacion(aeropuertos, vuelos)
    operacion.toPandas().to_csv(PATH+'dimension_operacion.csv')
    print("Dimensión operacion: \n")
    print("Las dimensiones de la base de datos son: ", (operacion.count(), len(operacion.columns)), "\n")
    print("Las columnas son: ", operacion.columns, "\n")
    print(operacion.show(5))
    print("\n")
    
    avion = dimension_avion(aeropuertos, vuelos)
    avion.toPandas().to_csv(PATH+'dimension_avion.csv')
    print("Dimensión avion: \n")
    print("Las dimensiones de la base de datos son: ", (avion.count(), len(avion.columns)), "\n")
    print("Las columnas son: ", avion.columns, "\n")
    print(avion.show(5))
    print("\n")
    
    trafico = dimension_trafico(aeropuertos, vuelos)
    trafico.toPandas().to_csv(PATH+'dimension_trafico.csv')
    print("Dimensión trafico: \n")
    print("Las dimensiones de la base de datos son: ", (trafico.count(), len(trafico.columns)), "\n")
    print("Las columnas son: ", trafico.columns, "\n")
    print(trafico.show(5))
    print("\n")
    
    aeropuerto_historia = dimension_aeropuerto_historia(aeropuertos, vuelos)
    aeropuerto_historia.toPandas().to_csv(PATH+'dimension_aeropuerto_historia.csv')
    print("Dimensión aeropuerto con historia: \n")
    print("Las dimensiones de la base de datos son: ", (aeropuerto_historia.count(), len(aeropuerto_historia.columns)), "\n")
    print("Las columnas son: ", aeropuerto_historia.columns, "\n")
    print(aeropuerto_historia.show(5))
    print("\n")
    
      
    lugar = dimension_lugar(poblacion, cobertura)
    lugar.toPandas().to_csv(PATH+'dimension_lugar.csv')
    print("Dimensión lugar: \n")
    print("Las dimensiones de la base de datos son: ", (lugar.count(), len(lugar.columns)), "\n")
    print("Las columnas son: ", lugar.columns, "\n")
    print(lugar.show(5))
    print("\n")
    
    tabla_hechos_cobertura = hechos_cobertura(poblacion, cobertura, aeropuerto_historia, lugar)
    tabla_hechos_cobertura.toPandas().to_csv(PATH+'tabla_hechos_cobertura.csv')
    print("Tabla de Hechos de Cobertura: \n")
    print("Las dimensiones de la base de datos son: ", (tabla_hechos_cobertura.count(), len(tabla_hechos_cobertura.columns)), "\n")
    print("Las columnas son: ", tabla_hechos_cobertura.columns, "\n")
    print(tabla_hechos_cobertura.show(5))
    print(tabla_hechos_cobertura.describe().show())
    print("\n")
    
    tabla_hechos = tabla_hechos_vuelos(vuelos, aerolinea,operacion, avion, trafico, fecha, aeropuerto_historia)
    tabla_hechos.toPandas().to_csv(PATH+'tabla_hechos.csv')
    print("Tabla de Hechos de Vuelos: \n")
    print("Las dimensiones de la base de datos son: ", (tabla_hechos.count(), len(tabla_hechos.columns)), "\n")
    print("Las columnas son: ", tabla_hechos.columns, "\n")
    print(tabla_hechos.show(5))
    print(tabla_hechos.describe().show())
    print("\n")

## Ejecutamos lo construido

In [13]:
ETL(df_aeropuertos, df_vuelos, df_poblacion, df_cobertura)

Dimensión Fecha:

Las dimensiones de la base de datos son:  (108, 4)

Las columnas son:  ['ano', 'mes', 'id_fecha', 'trimestre']

+----+---+-----------+---------+
| ano|mes|   id_fecha|trimestre|
+----+---+-----------+---------+
|2012| 10|17179869185|        4|
|2010|  7|42949672961|        3|
|2010| 12|42949672962|        4|
|2015|  2|60129542145|        1|
|2017|  3|85899345921|        1|
+----+---+-----------+---------+
only showing top 5 rows

None


Dimensión aerolinea:

Las dimensiones de la base de datos son:  (162, 2)

Las columnas son:  ['empresa', 'id_aerolinea']

+--------------------+------------+
|             empresa|id_aerolinea|
+--------------------+------------+
|"SERVICIO AÉREO R...|           1|
|              21 AIR|  8589934593|
|                ABSA| 17179869185|
|ABX AIR INC SUCUR...| 25769803777|
| AER CARIBE LIMITADA| 34359738369|
+--------------------+------------+
only showing top 5 rows

None


Dimensión operacion:

Las dimensiones de la base de datos son:  (4, 2)

Las columnas son:  ['tipo_vuelo', 'id_operacion']

+----------+-------------+
|tipo_vuelo| id_operacion|
+----------+-------------+
|         T| 377957122049|
|         C| 764504178689|
|         A| 910533066753|
|         R|1108101562369|
+----------+-------------+

None


Dimensión avion:

Las dimensiones de la base de datos son:  (140, 2)

Las columnas son:  ['tipo_equipo', 'id_avion']

+-----------+-----------+
|tipo_equipo|   id_avion|
+-----------+-----------+
|       B762|          1|
|       BE30|          2|
|       G200| 8589934593|
|        747|42949672961|
|       F100|68719476737|
+-----------+-----------+
only showing top 5 rows

None


Dimensión trafico:

Las dimensiones de la base de datos son:  (2, 2)

Las columnas son:  ['trafico', 'id_trafico']

+-------+-------------+
|trafico|   id_trafico|
+-------+-------------+
|      N| 962072674305|
|      I|1391569403905|
+-------+-------------+

None


Dimensión aeropuerto con historia:

Las dimensiones de la base de datos son:  (1456, 27)

Las columnas son:  ['sigla', 'iata', 'nombre', 'municipio', 'departamento', 'categoria', 'latitud', 'longitud', 'propietario', 'explotador', 'longitud_pista', 'ancho_pista', 'pbmo', 'elevacion', 'resolucion', 'fecha_construccion', 'fecha_vigencia', 'clase', 'tipo', 'numero_vuelos_origen', 'gcd_departamento', 'gcd_municipio', 'ano', 'InicioVigencia', 'FinalVigencia', 'Actual', 'id_aeropuerto']

+-----+----+--------------------+--------------+------------+-------------+-------+--------+-------------------+--------------------+--------------+-----------+------+---------+----------+------------------+--------------+-----+----------+--------------------+----------------+-------------+----+--------------+-------------+------+-------------+
|sigla|iata|              nombre|     municipio|departamento|    categoria|latitud|longitud|        propietario|          explotador|longitud_pista|ancho_pista|  pbmo|elevacion|resolucion|fecha_construccion|fecha_vigencia|clase|      tipo|numero_vuelos_origen|gcd_departamento|gcd_municipio| ano|InicioVigencia|FinalVigencia|Actual|id_aeropuerto|
+-----+----+--------------------+--------------+------------+-------------+-------+--------+-------------------+--------------------+--------------+-----------+------+---------+----------+------------------+--------------+-----+----------+--------------------+----------------+-------------+----+--------------+-------------+------+-------------+
|  9AO|null|         SANTA CLARA|   Sabanalarga|    Casanare|    Aeródromo| 4.4172|-72.7744| ARMANDO SANCHEZ M.|          TAES LTDA.|         699.0|        9.0|2500.0|    610.0|  2137,000|        2013-05-16|          null|   1A|Fumigación|                  46|              85|        85300|2014|    2014-01-01|   2014-12-31|     N|            1|
|  FLA| FLA|GUSTAVO ARTUNDUAG...|     Florencia|     Caquetá|     Nacional|  1.589|-75.5643|          AEROCIVIL|           AEROCIVIL|        3088.0|       20.0|  null|    803.0|   984,000|        1987-02-02|          null|   3C|   Privado|               55514|              18|        18001|2018|    2018-01-01|   2018-12-31|     S|            2|
|  IPI| IPI|            SAN LUIS|        Aldana|      Nariño|Internacional| 0.8619|-77.6718|          AEROCIVIL|           AEROCIVIL|         636.0|       49.0|  null|   9740.0|   455,000|        1969-05-19|          null|   3C| Aerocivil|                4119|              52|        52022|2014|    2014-01-01|   2014-12-31|     N|            3|
|  PPN| PPN|GUILLERMO LEON VA...|       Popayán|       Cauca|     Nacional| 2.4542|-76.6099|          AEROCIVIL|           AEROCIVIL|        9835.0|       12.0|  null|   5669.0|   455,000|        1969-05-19|          null|   4C| Aerocivil|                5749|              19|        19001|2016|    2016-01-01|   2016-12-31|     N|            4|
|  9MY|null|          AFGANISTAN|Paz de Ariporo|    Casanare|    Aeródromo|  5.886| -71.408|JOSE IVAN CORTES P.|SANDRA PATRICIA YATE|        1700.0|       14.0|2000.0|    577.0|  2131,000|        2014-04-25|    2017-05-06|   1A|   Público|                   0|              85|        85250|2014|    2014-01-01|   2014-12-31|     N|   8589934593|
+-----+----+--------------------+--------------+------------+-------------+-------+--------+-------------------+--------------------+--------------+-----------+------+---------+----------+------------------+--------------+-----+----------+--------------------+----------------+-------------+----+--------------+-------------+------+-------------+
only showing top 5 rows

None


Dimensión lugar:

Las dimensiones de la base de datos son:  (1101, 7)

Las columnas son:  ['codigo_centro_poblado', 'codigo_municipio', 'codigo_departamento', 'Departamento', 'Municipio', 'tipo_Cobertura', 'id_centro_poblado']

+---------------------+----------------+-------------------+------------+--------------------+--------------+-----------------+
|codigo_centro_poblado|codigo_municipio|codigo_departamento|Departamento|           Municipio|tipo_Cobertura|id_centro_poblado|
+---------------------+----------------+-------------------+------------+--------------------+--------------+-----------------+
|             15664000|           15664|                 15|      BOYACÁ|    SAN JOSÉ DE PARE|     Aeródromo|                1|
|             95001000|           95001|                 95|    GUAVIARE|SAN JOSÉ DEL GUAV...|      Regional|                2|
|             68190000|           68190|                 68|   SANTANDER|           CIMITARRA|     Aeródromo|                3|
|             18753000|           18753|                 18|     CAQUETÁ|SAN VICENTE DEL C...|      Regional|                4|
|             25168000|           25168|                 25|CUNDINAMARCA|            CHAGUANÍ|     Aeródromo|                5|
+---------------------+----------------+-------------------+------------+--------------------+--------------+-----------------+
only showing top 5 rows

None


Tabla de Hechos de Cobertura:

Las dimensiones de la base de datos son:  (1563, 7)

Las columnas son:  ['Año', 'distancia', 'id_centro_poblado', 'id_aeropuerto', 'poblacion_hombres', 'poblacion_mujeres', 'poblacion']

+----+-----------+-----------------+-------------+-----------------+-----------------+---------+
| Año|  distancia|id_centro_poblado|id_aeropuerto|poblacion_hombres|poblacion_mujeres|poblacion|
+----+-----------+-----------------+-------------+-----------------+-----------------+---------+
|2018|12,74978243|     704374636547|  68719476742|             9348|            10102|    19450|
|2019|6,561242921|      68719476738| 343597383684|             3361|             3235|     6596|
|2019|0,023008128|      77309411336|1597727834115|             8252|             8207|    16459|
|2019| 19,9312448|     128849018881|1005022347276|            28284|            29432|    57716|
|2020|0,472471483|     292057776131|1056561954828|             6318|             5790|    12108|
+----+-----------+-----------------+-------------+-----------------+-----------------+---------+
only showing top 5 rows

None
+-------+------------------+-----------+--------------------+--------------------+------------------+-----------------+------------------+
|summary|               Año|  distancia|   id_centro_poblado|       id_aeropuerto| poblacion_hombres|poblacion_mujeres|         poblacion|
+-------+------------------+-----------+--------------------+--------------------+------------------+-----------------+------------------+
|  count|              1563|       1563|                1563|                1563|              1563|             1563|              1563|
|   mean|            2019.0|       null|8.494967176971708E11|8.806908755658522E11| 26972.78886756238|28269.02111324376|55241.809980806145|
| stddev|0.8167579016516338|       null|4.860544895856903...|5.479857801163287E11|166252.81837457084|180988.4202108385| 347237.6904050379|
|    min|              2018|0,022363014|       1005022347266|       1005022347276|               653|              590|              1243|
|    max|              2020|9,994250896|        987842478091|        970662608900|           3707838|          4036117|           7743955|
+-------+------------------+-----------+--------------------+--------------------+------------------+-----------------+------------------+

None


Tabla de Hechos de Vuelos:

Las dimensiones de la base de datos son:  (34694, 12)

Las columnas son:  ['vuelos', 'sillas', 'pasajeros', 'carga_ofrecida', 'carga_bordo', 'id_aerolinea', 'id_operacion', 'id_avion', 'id_trafico', 'id_fecha', 'id_origen', 'id_destino']

+------+------+---------+--------------+-----------+-------------+------------+-------------+------------+-------------+-------------+-------------+
|vuelos|sillas|pasajeros|carga_ofrecida|carga_bordo| id_aerolinea|id_operacion|     id_avion|  id_trafico|     id_fecha|    id_origen|   id_destino|
+------+------+---------+--------------+-----------+-------------+------------+-------------+------------+-------------+-------------+-------------+
|    16|     0|       29|           0.0|     1239.0| 446676598785|377957122049|1477468749825|962072674305| 360777252865|1700807049220|  60129542148|
|     1|     0|        0|           0.0|        0.0| 919123001345|377957122049|1477468749825|962072674305|1357209665537|1683627180044|  60129542154|
|     2|     0|       10|           0.0|        0.0| 721554505729|377957122049|1211180777473|962072674305| 335007449089|1520418422790|1005022347276|
|     1|     0|        2|           0.0|      500.0|1073741824001|377957122049| 240518168578|962072674305|1640677507073| 798863917063|1649267441670|
|     1|     0|        7|           0.0|      318.0|1185410973697|377957122049|1211180777473|962072674305| 549755813889| 858993459205| 919123001345|
+------+------+---------+--------------+-----------+-------------+------------+-------------+------------+-------------+-------------+-------------+
only showing top 5 rows

None
+-------+------------------+------------------+------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|summary|            vuelos|            sillas|         pasajeros|   carga_ofrecida|       carga_bordo|        id_aerolinea|        id_operacion|            id_avion|          id_trafico|            id_fecha|           id_origen|          id_destino|
+-------+------------------+------------------+------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  count|             34694|             34694|             34694|            34694|             34693|               34694|               34694|               34694|               34694|               34694|               34694|               34694|
|   mean|15.146163601775523|1527.7863895774485|1235.5018735227993|80728.00732115062|7923.4000230594065|6.952187081071641E11|6.708547280648213E11|7.626145614408973E11|9.620726743045398E11|8.293505838037377E11|1.018105569834687...|1.021491629253627...|
| stddev|  38.4530366869671| 5570.702922562759| 4494.813134105031|337521.1939547706| 32573.21502251753|3.932241502524113E11|3.541668349716795...|5.374283092564972E11|                 0.0|4.508103212935690...|4.457888926995326...|4.445693564951665E11|
|    min|                 0|                 0|                 0|              0.0|               0.0|       1005022347265|       1108101562369|       1030792151041|        962072674305|       1013612281857|                   1|                   1|
|    max|               542|             81019|             63813|        4758000.0|          467438.0|        979252543489|        910533066753|        996432412673|        962072674305|        996432412673|        996432412681|        996432412673|
+-------+------------------+------------------+------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

None